<div >
  <form [formGroup]="mainFormGroup" (ngSubmit)="submitForm($event)">
	<div>
	  <label for="fileType">File Type</label><br/>
	  <select id="fileType" formControlName="fileType">
		<option value="text">Text</option>
		<option value="audio">Audio</option>
	  </select>
	</div><br/>

	<div>
	  <label for="topic">Topic</label><br/>
	  <input type="text" id="topic" formControlName="topic" /><br/>
	</div><br/>
	
	<div *ngIf="fileTypeValue === 'audio'">
	  <label for="audioFile">Audio File</label><br/>
	  <input type="file" id="audioFile" formControlName="audioFile" /><br/>
	  <br/>
	</div>
	
	<div *ngIf="fileTypeValue === 'text'">
	  <label for="textToRead">Text<small>(If file-type text selected)</small></label><br/>
	  <input type="text" id="textToRead" formControlName="textToRead" /><br/>
	  <br/>
	</div>

	<ng-container formArrayName="options">
	  <label>Options</label>
	  <div *ngFor="let option of optionsFormArray.controls; let i = index;">
		<input type="text" [formControlName]="i" [name]='i'/>
		<button type="button" (click)="removeControlAtFromOptionsFormArray(i)">Sub</button>
		<button type="button" (click)="addControlToOptionsFormArray()">Add</button>
	  </div>
	</ng-container>
	<br/>

	<button type="submit">Submit</button>
  </form>
</div>
